<!doctype html>
<html>
<head>
    <title>{{ title }} - Microblog</title>
    <script type="module">
        import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
      
        var socket = io('ws://localhost:5000');
        socket.on('connected', function(data) {
            console.log(data);
            socket.emit('add_session', { 'user_id': 1} )
        })

    </script>
</head>
<body>
    <h1>Hello, {{ user.username }}!</h1>
    <div>
        <p>long: -122.3351</p>
        <p>lat: 47.6086</p>
        <p>estimated fare</p>
        <p id="fare"></p>
        <button id="estimate-fare">get estimate fare</button>
        <button id="request">request ride</button>
    </div>
</body>
</html>